<!DOCTYPE html>
<html>

<head>
  <title>Вредност на избраниот метал</title>
  <style>
    

    .response-area {
      text-align: center;
      margin-top: 20px;
      background-color: powderblue;
      padding: 20px;
    }
  </style>
</head>

<body>
  
  <div class="response-area">
    
    <p>
      За избраниот метал <%= userMetal %> пазарната вредност според Вашата избрана валута изнесува <%= metalMarketValue %>
    </p>

    <p>
      Пазарната вредност на <%= userMetal %> во американски долари изнесува <%= userChoiceMetal %> $
    </p>
   
  </div>

 
</body>

</html>