<!DOCTYPE html>
<html>

<head>
  <title>Пазарна вредност на Злато</title>
  <style>
    
    

    .response-area {
      text-align: center;
      margin-top: 20px;
      background-color: powderblue;
      padding: 20px;
    }
  </style>
</head>

<body>
  
  
  <div class="response-area">
    <p>
        Вредноста на една унца злато изнесува <%=contentZ%> $
    </p>
    <p>
      Вредноста на една унца 14 каратно злато изнесува <%=content14%> $
    </p>
    <p>
      Вредноста на една унца 18 каратно злато изнесува <%=content18%> $
    </p>
    <p>
      Вредноста на една унца 21 каратно злато изнесува <%=content21%> $
    </p>
  </div>
</body>

</html>